*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui;
}

.container{
    margin: 80px auto;
    width: 90%;
    height: 400px;
    max-width: 500px;
    outline: 4px solid;
    display: grid;
    /* fr: fracciones, lo podemos resumir con repeat()*/
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 10em 1fr;
}

.element{
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
}

.element-1{
    background: aqua;
    grid-column: 1/5;
}

.element-2{
    background: peru ;
}

.element-3{
    background: yellowgreen;
    /* Con estas propiedades manipulamos el contenido en las grillas */
    grid-row: 3;
    grid-column: 2/4;
}

.element-4{
    background: plum;
}

.element-5{
    background: seagreen;
    grid-row: 3;
    grid-column: 4;
}